.container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  & a {
    text-decoration: none;
  }
}

.left {
  display: flex;
  justify-content: flex-start;
  gap: 20px;

  & .add {
    padding: 10px 20px;
  }
}