@use '@/app/styles/colors' as colors;

.button {
  display: inline-flex;
  width: auto;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  font-weight: 600;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.20);
  }
}

.primary {
  background-color: colors.$primary;
  color: colors.$white;
}

.secondary {
  background-color: colors.$white;
  color: colors.$text-main;
}

.outlined {
  background-color: colors.$bg-outlined;
  color: colors.$text-main;
}

.link {
  background-color: inherit;
  color: colors.$text-main;
  padding: 10px 10px;
}

.disabled {
  background-color: colors.$border-grey-200;
  color: colors.$text-main-400;
}

.arrow-left {
  background-color: colors.$primary-dark;
  color: colors.$text-main;
  padding: 22px 24px 22px 20px;
  border-radius: 50%;
}

.arrow-right {
  background-color: colors.$primary-dark;
  color: colors.$text-main;
  padding: 22px 20px 22px 24px;
  border-radius: 50%;
}

.ghost{
  border: none;
  background: none;
  color: colors.$primary;
  transition: all .3s ease;

  &:hover{
    text-decoration: underline;
    opacity: 1;
    box-shadow: none;
  }
}