$white: #ffffff;

$primary: #287832;
$primary-dark: #1e5c28;
$primary-accent: #1e5b26;
$primary-light: #d4e8d6;
$accent: #f5a623;
$accent-10: #f8bd5b;
$accent-secondary-100: #498af7;
$accent-secondary-200: #2372f5;
$accent-secondary-300: #0a5de6;
$success: #3dbd7d;
$icon: #a6aeb6;
$error: #ef4230;
$warning: #f67d04;
$text-dark: #2c3e50;
$text-gray: #7f8c8d;
$bg-light: #f5f7fa;
$bg-outlined: #f3f3f3;
$text-main: #252525;
$text-secondary: #6a6a6a;
$text-main-300: #a5a5a5;
$text-main-400: #878787;

$border-grey-200: #cccccc;
$black-50: #CCCCCC;
$black-30: #878787;
