$size-medium: 20px;
$size-medium-plus: 28px;
$size-large: 35px;
$size-large-plus: 48px;
$size-extra-large: 72px;
$size-small: 16px;
$size-small-xl: 14px;
$size-small-2xl: 12px;
$size-xl: 40px;

$weight-extra-bold: 800;
$weight-bold: 700;
$weight-semi-bold: 600;
$weight-regular: 400;
$max-width-xxl: 1504px;