$desktop: 1439px;

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@mixin square($size) {
  width: $size;
  aspect-ratio: 1;
}

@mixin remove-number-input-arrows {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type='number'] {
    appearance: textfield;
    -moz-appearance: textfield;
  }
}

@mixin reset-link {
  &,
  &:hover {
    text-decoration: none;
  }
}

@mixin square($size) {
  width: $size;
  aspect-ratio: 1;
}

@mixin flex-column-with-gap($columnGap) {
  display: flex;
  flex-direction: column;
  @if $columnGap !=0 {
    gap: $columnGap;
  }
}

@mixin reset-button {
  padding: 0;
  background-color: transparent;
  border: none;
}

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}
